@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



div{
    border: 3px rgb(32, 32, 32);
}

header{
    display: flex;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-align: center;
    border: 15px #BFAEA8 solid ;
    background-color: #BFAEA8;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(54, 53, 53);
}

#logo > img{
    height: 80px;
    width: 80px;
} 

#titulo{
    width: 100%;
}

#titulo > h1{
    margin: 0px;
}



#menu-principal{
    position: sticky; 
    top: 5px;
    border: 1px #BFAEA8 solid;
    background-color:#BFAEA8;
    border-radius: 3px;
    margin-top: 10px;
    height: 35px;
    font-size: 18px;
}

#menu-principal > a{
    text-align: center;
    margin-left: 150px;
    color: black;
    text-decoration: none;
}

#menu-principal > a:hover{
    animation: mudacor 1s;
}
#menu-principal > main{
    color: black;
   
}

@keyframes mudacor {
    from {background-color: black;}
    to {background-color: white;}
}



#noticias{
    border-right: 1px dashed gray;
}

h1{
    text-align: center;
    text-decoration:underline;
}

body{
        text-align: center;
}


#listagem-paises{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bandeiras-paises{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#campeoes-brasileiros{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px 350px;
}
#centro-pagina{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    border: 5px;
    border-style: double;
    
}
#titulo-pagina-inicial{
    font-size: 50px;
    text-align:center;
    background-color: #D9C8B4;
}

#noticia-pag-inicial{
    text-decoration: none;
background-color:#F2E9D8;}
    
hr{
    height: 3px;
    background-color: black;
}
#pate2{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    border: 5px;
    border-style:groove


}
#Palmeiras{
    background-color:#F2E9D8
}
#Santos{
    background-color: #F2E9D8
}
#SãoPaulo{
    background-color: #F2E9D8
}
#TabelaBrasileirão{
    background-color: #F2E9D8}
#TabelaLiberta{
    background-color:#F2E9D8 }
#CopadoMundo{
    background-color:#F2E9D8
}
#cincomaiorescampeoes{
    background-color:#F2E9D8
}
